@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900);


/*Responsive*/
@media only screen and (max-device-width: 460px) {

    body .topbar {
      height: 20px;
    }

    body .navbar {
      height: 350px;
      background-image:url('../grafix/NYTSG-fulltextlogo-lg.svg');
    }

    .content-area-left {
      min-width: 100%;
      margin: 0;
      padding: 0;
    }

    .content-area-left p, .content-area-left ul {
      padding-right: 40px;
      font-size: 11px;
    }

    .content-area-right {
      min-width: 100%;
      margin: 0;
      padding: 0;
    }

    .content-area-right p, .content-area-right h1, .content-area-right a {
      padding-right: 60px;
      font-size: 11px;
    }

    .social img {
      width: 100px;
    }

    .social h3 {
      font-size: 60px;
    }

    .social a {
      font-size: 30px;
    }

  }

/*Layout*/

/*Header*/
.topbar {
  width: 100%;
  height: 10px;
  background: #00402D;
}

h1 {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  color: #FFDD17;
}

h2 {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  font-size: 16px;
  color: #ffffff;
}

h3 {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  font-size: 18px;
  color: #000000;
}

/*Body*/
body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 13px;
  width: 100%;
  margin: 0;
  color: #ffffff;
  overflow-x: hidden;
}

p {
  font-size: 13px;
}

ul {
  font-size: 13px;
}

.content-areas {
  width: 100%;
  background: #00402D;
}

.content-area-left {
  margin: 1%;
  margin-left: 2%;
  width: 30%;
  display: inline-block;
  vertical-align: top;
}

.content-area-right {
  margin: 1%;
  margin-left: 4%;
  width: 60%;
  display: inline-block;
  vertical-align: top;
}

/*Navigation*/
.navbar {
  position: relative;
  width: 100%;
  height: 200px;
  background: #ffffff;
  background-image:url('../grafix/NYTSG-fulltextlogo.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.social {
  width: 100%;
  margin: auto;
  text-align: center;
}

.social img {
  padding: 10px;
  padding-top: 40px;
  height: 50px;
  /*display: inline-block;*/
  text-align: center;
}

a {
  color: #00AE4C;
}
